* {
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body {
    padding-top: 20px;
}
.wrapper {
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    max-height: 80%;
}
header {
    margin: 0 auto;
    text-align: center;
}

.move-button-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-size: 40px;
    width: 400px;
}
.first, .last {
    letter-spacing: -5.5px;
}

.website-title {
    margin: 0;
    font-size: 50px;
}
.website-subtitle {
    font-size: 16px;
    margin-top: -10px;
}
.game-title {
    margin: -5px 0 10px;
    font-size: 30px;
}

#move-list {
    line-height: 1.5;
    font-size: 18px;
    max-height: 175px;
    overflow-y: auto;
    height: 100%;
}
#move-list button {
    border: none;
    background-color: white;
    margin: 0;
    padding: 0 3px;
}
#move-list button:focus {
    font-weight: bold;
}
#play-pause {
    font-size: 30px;
    margin-top: 5px;
}

.bold {
    font-weight: bold;
}

#game-result {
    display: inline;
    margin: 0 10px;
}

header nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    font-size: 20px;
    margin-top: 6px;
}
header li:not(:last-child) {
    margin-right: 15px;
}
a {
    color: black;
    text-decoration: none;
}
#board1 {
    width: 400px;
    display: flex;
}
#import-modal {
    display: none;
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    width: 80%;
    height: 80%;
    
    padding: 10px;
    background-color: lightgray;
    z-index: 100;

    top: 15%;
}
#import-modal textarea {
    width: 80%;
    height: 60%;
}
#import-modal p {
    text-align: right;
}
#import-modal button {
    margin: 0 auto 20px;
    display: block;
}
#game-counter {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 17px;
    background-color: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
/* Media queries */
@media (max-width: 480px) {
    .wrapper {
        width: 100%;
        height: 100%;
    }
    #board1, #board1 div, #board1 div * {
        width: 100%;
    }
    #move-list {
        max-height: 200px;
    }
}
@media (max-height: 600px) {
    .website-subtitle {
        display: none;
    }
    .game-title {
        font-size: 20px;
    }
    .website-title {
        font-size: 20px;
        margin: 5px;
    }
    .wrapper {
        max-height: 90%;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header nav {
        margin: 0;
        align-items: center;
    }
    body {
        padding: 0;
    }
}